venv/
.venv/
utils/secrets.py
.gitignore

.idea/
.ipynb_checkpoints/
gates/beauregard
gates/mix
gates/takahashi
images/plots/both
implementations/beauregard.py
implementations/mix.py
implementations/takahashi.py
notebooks/
output_data/regev/all_parts
output_data/regev/quantum_part_output_reg_meas
output_data/regev/classical_part/file_analysis
output_data/regev/classical_part/file_analysis_2
output_data/regev/classical_part/file_analysis_3_all_types
tests/
__init__.py
regev.ipynb
zadanie.ipynb
requirements-dev.txt



